# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test cache
.pytest_cache/
coverage/
htmlcov/

# Secrets
*.env
.env.*